/* RMB */

body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a.active {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #111;
}

.nav li a:hover {
    background-color: #111;
}

.txtSearch {
    border-radius: 50px;
    background-color: #fcfcfc;
    padding: 8px;
    width: 75%;
    margin-right: 5px;
}

.txt {
    border-radius: 10px;
    background-color: #fcfcfc;
    border-color: #ddd;
    padding: 5px;
    margin: 5px;
}

.long {
    width: 80%;
}

.formlong {
    width: 99%;
}

.btn {
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 5px;
}

.btn-lg {
    font-size: 20px;
    padding: 15px 20px;
    margin: 10px;
}

.reg_btn {
    font-size: 40px;
    padding: 10px 50px;
}

.border {
    background-color: white;
    color: black;
}

.border:hover {
    border: 2px solid #1d98eb;
}

.colorprimary {
    border: 2px solid #1d98eb;
}

.colorprimary:hover {
    background-color: #1d98eb;
    color: white;
}

.colorWarning {
    border: 2px solid #FFCC00;
}

.colorWarning:hover {
    background-color: #FFCC00;
    color: white;
}

.colorSuccess {
    border: 2px solid #4BB543;
}

.colorSuccess:hover {
    background-color: #4BB543;
    color: white;
}

.colorInfo {
    border: 2px solid #5bc0de;
}

.colorInfo:hover {
    background-color: #5bc0de;
    color: white;
}

.colorDanger {
    border: 2px solid #bb2124;
}

.colorDanger:hover {
    background-color: #bb2124;
    color: white;
}

.primary {
    background-color: #1d98eb;
}

.warning {
    background-color: #D99433;
}

.success {
    background-color: #4BB543;
}

.info {
    background-color: #5bc0de;
}

.danger {
    background-color: #C92D29;
}

.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}


/* align 

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

*/

.logo {
    margin-left: 10px;
}

.bg-model {
    width: 0px;
    height: 0px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: rgb(255, 0, 0);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
}

.input {
    width: 50%;
}

.slide {
    filter: brightness(75%);
    position: absolute;
    width: 100%;
    height: 400px;
    right: 0;
    top: 0;
    z-index: -1;
}

.mainSlide {
    display: none;
    height: 400px;
    overflow: auto;
}

.slidecaption {
    position: relative;
    text-align: right;
    color: white;
}

.topRight {
    position: absolute;
    top: 8px;
    right: 16px;
}

.topLeft {
    position: absolute;
    top: 8px;
    left: 16px;
}

.right {
    float: right;
    padding: 10px;
}

.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 25%;
}

.column.middle {
    width: 50%;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bookView {
    width: 100%;
    margin-left: 30px;
    display: none;
}

.bookData {
    margin-left: 200px;
    text-align: left;
}

.bookData .title {
    font-weight: bold;
}

.bookData .data {
    padding-left: 30px;
}

.bookData td {
    padding: 10px;
}

.checked {
    color: gold;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardDetails {
    padding: 10px 16px;
    text-align: left;
}

.proImg {
    vertical-align: middle;
    padding-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

label {
    font-weight: bold;
    font-size: 18px;
}

a.footLink {
    text-decoration: none;
    color: white;
}

.footer {
    background-color: #3b3b3b;
    padding: 10px;
    color: #fff;
    text-align: center;
}

#forget_pwd_link {
    font-size: 20px;
    color: blue;
    font-weight: 500;
}

.page_center {
    margin: 0;
    position: absolute;
    top: 285px;
    left: 45%;
    right: 45%;
}